# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local

# Backend
backend/.venv/
backend/__pycache__/
backend/**/__pycache__/
backend/**/*.pyc
backend/db.sqlite3
backend/media/
backend/.env
backend/staticfiles/

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
*.swo
